img {
    border-radius: 50%;
    width: 100px;   
    height: 100px;
}

.divTable{
    position: relative;
	display: table;
	width: 100%;
    margin: auto;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 15px;
    height: 100px;
    width: 100px;
    text-align: center;
}
.divTableBody {
	display: table-row-group;
}