.herbs-img img {
    border-radius: 50%;
    width: 100px;   
    height: 100px;
    background-color: #a6b7de;
}

.herbs-img {
    text-align: center;
}

.divTable{
    position: relative;
	display: table;
	width: 100%;
    margin: auto;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 15px;
    height: 100px;
    width: 100px;
    text-align: center;
}
.divTableBody {
	display: table-row-group;
}

#descriptionpopup {
    /*display: table-cell;*/
    display: none;
    height: 230px; /*change this and the width
    for the size of your initial circle*/
    width: 230px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

.herbblock {
    display:inline-block;
    width: 120px;
    height: 150px;
    text-align: center;
    vertical-align: top;
}