{code type=CSS}
{code type=CSS}

#compose {
    position: relative;
    width: 1000px;
}

#herbscontainer {
    position: absolute;
    max-width: 150px;
    max-height: 300px;
    min-width: 129px;
    min-height: 258px;
    width: 15vw;
    height: 30vw;
    left: 200px;
}

.fa {
    color: #ddd;
}

.hover {
    color: #777;
}

#pot {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table-cell;
    background-image: url('/images/pot.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

#potperc {
    text-align: center;
    width: 70%;
    margin-top: 80%;
    margin-left: 15%;
    font-size: 2em;
    color: black;
}

.brew {
    background-position: top right;
    position:relative;
    vertical-align:bottom;    
    clear:both;
    max-width: 130px;
    width: 100%;
    bottom: 0px;
    -webkit-transition: height 0.5s ease-out;
    -moz-transition: height 0.5s ease-out;
    -o-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out;
    z-index: 1;
}

#herbs {
    left: 10%;
    top: 25%;
    height: 65%;
    width: 80%;
    position: absolute;
}

#herbe {
    background: #fff;
    height: 205px;
}

#herb0 {
    height: 0;
    bottom: 0;
}

#herb1 {
    height: 0px;
}

#herb2 {
    height: 0px;
}

#herb3 {
    height: 0px;
}

#herb4 {
    height: 0px;
}

.availherbs {
    position: absolute;
    left: 600px;
    width: 500px;
}

.perc {
    text-align: right;
    width: 2.5em;
}

.name {
    text-align: left;
    width: 10em;
}

#sliders {
    position: absolute;
    left: 40vw;
    height: 300px;
    width: 300px;
}

div .slider {
    width: 150px;
}

#sliderb {
    width: 150px;
}

#descpopupcontainer {    
    position: absolute;
    left: 75vw;
    top: -50px;
    height: 210px;
    width: 210px;
}

#descriptionpopup {
    /*display: table-cell;*/
    display: none;
    height: 190px;
    width: 190px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

@media all and (max-width: 860px) {
    #sliders     {
        margin-left: 0px;
        left: 344px;
    }
    #descpopupcontainer {
        left: 645px;
    }
}

@media all and (min-width: 1000px) {
    #sliders     {
        margin-left: 0px;
        left: 400px;
    }
    #descpopupcontainer {
        left: 750px;
    }
}

.divTable{
	display: table;
	width: 100%;
}

div.herbname{
    width: 75px;
}
p.herbname{
    hyphens: auto;
    width: 60px;
    font-size: smaller;
    font-weight: 800;
    margin: 0.25em;
}
.divTableRow {
	display: table-row;
    height: 80px;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 1px 3px;
    vertical-align: middle;
}
.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
/*
#sliderb.ui-widget-content{
    border-color: black;
    background: #484;
}

#slider1.ui-widget-content{
    border-color: black;
    background: #4a4;
}
#slider2.ui-widget-content{
    border-color: black;
    background: #4b4;
}
#slider3.ui-widget-content{
    border-color: black;
    background: #4c4;
}
#slider4.ui-widget-content{
    border-color: black;
    background: #4d4;
}*/

.ui-slider-horizontal {
    height: .15em;
}
.ui-widget.ui-widget-content{
    border: 0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background: black;
    border: 0px;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
}
.ui-widget-content {
    border-color: black;
    background: black;
}
.ui-slider-horizontal .ui-slider-handle{
    margin-left: -0.4em;
}

.ui-slider-handle:focus{
    outline: none;
}

.hidden {
    display:none;
}

{/code}