<ol>
    <li class="menuitem"><a href="">o nas</a></li>
    <li class="menuitem"><a href="">o ziołach</a></li>
    <li class="menuitem"><a href="compose.html">skomponuj</a></li>
    <li class="menuitem"><a href="">fafarafa</a></li>
    <li class="menuitem"><a href="">kontakt</a></li>
</ol>