<div class="mainheader">
    <%= render :partial => "header" %>
</div>
<div class="container">
    <div id="navmenu">
        <%= render :partial => "navmenu" %>
    </div>
    <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi consectetur, ab voluptatum labore sit deleniti modi? Dolor iusto ullam, adipisci, veritatis aliquam facilis voluptas ut unde consequuntur dignissimos dolore enim.
    </div>
</div>
<div class="footer">

</div>