<div class="mainheader">
    <%= render :partial => "header" %>
</div>
<div class="container">
    <div id="navmenu">
        <%= render :partial => "navmenu" %>
    </div>
    <div class="content">
        <div class="herbs-img">
            <%= image_tag("/images/melissa.jpg") %>
        </div>
    </div>
</div>
<div class="footer">

</div>