- provide(:title, 'Zamów')
= render 'layouts/header'
.container
  .content.row
    .col-md-2#navmenu
      = render 'layouts/navmenu'
    .col-md-8.col-md-offset-1
      .row
        = render partial: 'small_jars', collection: @jars, as: :jar
      =minimal_form_for @order, defaults: { label: false, input_html: { class: 'form-control input-sm' }} do |f|
        .row
          .col-sm-3
            .form-group
              =f.input :name
          .col-sm-3
            .form-group
              =f.input :surname
        .row
          .col-sm-6
            .form-group
              =f.input :email
        .row
          .col-sm-6
            .form-group
              =f.input :street
        .row
          .col-sm-2
            .form-group
              =f.input :zipcode
          .col-sm-4
            .form-group
              =f.input :city
        .row
          .col-sm-6
            .form-group
              =f.input :phone
        .row
          .com-sm-6
            .form-group
              =f.submit 'Zamów!'
