- provide(:title, 'Namieszaj')
= render 'layouts/header'
.container
  .content.row
    .col-md-2#navmenu
      = render 'layouts/navmenu'
    .col-md-8.col-md-offset-1
      .herbs-img
        .divTable{:style => "width: 120px;"}
          .divTableBody
            .divTableRow
              - @baseherbs.each do |baseherb|
                .divTableCell
                  = link_to image_tag("herbs/" + baseherb.image, style: "border: 4px solid " + baseherb.color, onmouseover: "showherbdesc(\""+baseherb.description+"\", \""+baseherb.color+"\")", onmouseleave: "hide()"), { controller: "jars", action: "new", base: baseherb.id }
                  %br/
                  = baseherb.name
      #descriptionpopup
.footer
