= render 'layouts/header'

.container
  .content.row
    .col-md-2#navmenu
      = render 'layouts/navmenu'
    .col-md-8.col-md-offset-1
      %p
        %span.tab>
        Projekt Para Napary jest konceptem sklepu internetowego, w którym klient ma możliwość skomponowania własnej mieszanki ziół.
      %p
        %span.tab>
        Projekt odpowiada na zaobserwowane zjawisko uprawy roślin w domach, używania naturalnych kosmetyków oraz świadomego przygotowywania codziennych potraw.
      %p
        %span.tab>
        Współcześnie prawie zanikła ludowa wiedza o ziołach, o sposobach ich zbioru i przyrządzania. Wymarło już pokolenie naszych pra i praprababek, które żyły przed erą leków chemicznych i wiedziały, jak i kiedy stosować zioła.
      %p
        %span.tab>
        Projekt jest próbą przypomnienia jak ważne było ziołolecznictwo gdzie oprócz mody na wykorzystanie ziół, towarzyszyła temu moda na wiedze o nich.
      %p
        %span.tab>
        To Ty wybierasz bazę mieszanki. Pozostałe 60% należy "domieszać" suwakami, które mają przypisane dedykowane zioła - zerknij na ich opisy.
      %p
        %span.tab>
        Lista ziół została wyselekcjonowana i dobrana pod kątem właściwości lecznicych i smakowych w oparciu o wiedze i umiejetności zielarzy z Polski.
      %p
        %span.tab>
        =link_to "Namieszaj!", select_path
.footer
