// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

.smherbscontainer {
  max-width: 78px;
  max-height: 156px;
  min-width: 52px;
  min-height: 104px;
  width: 8vw;
  height: 16vw;
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 25%;
}
