// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: "lato";
    background: #fff url("/images/bcg.jpg") no-repeat fixed center; 
    background-size: 100%;
}

header{
    margin: auto;
    width: 930px;
    font-family: "lato";
}

h1, h2 {
    font-family: "lato";
    font-weight: 200;
    font-size: 4em;
    letter-spacing: 0.5em;
}

h1 {
    padding-left: 100px;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    padding-left: 400px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 930px;
    margin: auto;
    margin-top: 4em;
}

div {
    /*border: 1px solid black;*/
}


.mainheader {
    padding-left: 10%;
    font-family: sans-serif;
}

.container {
    position: relative;
    height: auto;
    
    font-family: "lato";
    font-weight: 300;
}

#navmenu {
    position:absolute;
    left: 0px;
    width: 200px;
    font-family: "lato";
    font-weight: 300;
    letter-spacing: .2em;
    
}

#navmenu li {
    margin: 1em;
}

.content {
    margin-left: 250px;
    padding-top: 1em;
    text-align: justify;
    font-style: italic;
}

b {
    font-weight: 400;
}