// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: "lato";
    background: #fff url("/images/bcg.png") no-repeat fixed center; 
    background-size: 100%;
    //background-color: rgb(225,230,255);
}

div {
    //border: 1px solid black;
}

header{
    margin: auto;
    width: 930px;
    font-family: "lato";
}

h1, h2 {
    font-family: "lato";
    font-weight: 200;
    font-size: 4em;
    letter-spacing: 0.5em;
}

h1 {
    padding-left: 10vw;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    padding-left: 400px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 4em;
    position: relative;
    height: 400px;    
    font-family: "lato";
    font-weight: 300;
}

.mainheader {
    font-family: sans-serif;
}

#navmenu {
    position:absolute;
    left: 0px;
    width: 200px;
    font-family: "lato";
    font-weight: 300;
    letter-spacing: .2em;
    
}

#navmenu li {
    margin: 1em;
}

.tab { display:inline-block; 
       margin-left: 40px; }
.source {
    color: #222;
    font-style: italic;
    text-align: right;
    font-size: smaller;
}

.content {
    margin-left: 250px;
    padding-top: 1em;
    text-align: justify;
    font-style: italic;
}

b {
    font-weight: 400;
}