<div id="navmenu">
	<ol>
	    <li class="menuitem"><%= link_to "o nas", about_path %></li>
	    <li class="menuitem"><%= link_to "po co to" %></li>
	    <li class="menuitem"><%= link_to "herba lab", herbalab_path %></li>
	    <li class="menuitem"><%= link_to "namieszaj", '#' %></li>
	</ol>
</div>